
p{
    font-size:100px;
    font-weight: 400px;
    color:rosybrown;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: inherit;
    font-variant: unset;
    font-kerning: auto;

}
    
